* {
    /* transition: all 0.15s; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #f8f8f8;
    color: $gray-700;
}

iframe{
    border:none;
    height: 400px;
    width: 100%;
}

.right-area {
    .main-content {
        padding: 25px;
    }
}

.main-wrapper {
    height: 100%;
    width: 100%;
    &.container {
        border: 1px solid $gray-200;
        padding: 0;
    }
    .main-content {
        .card {
            margin-top: 25px;
        }
    }
}

.page-header {
    margin-top: 0px;
}

.error-title {
    font-size: 12em;
}

code {
    color: darken($primary, 10%);
    border: 0.7px solid lighten($primary, 50%);
    border-radius: 2px;
    padding: 1px 5px 1px 5px;
}

.btn-list {
    .btn {
        margin-top: 15px;
        margin-right: 10px;
    }
}

/* Tabs */

.nav-pills-circle .nav-link {
    line-height: 50px;
    width: 50px;
    height: 50px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
}