.alert {
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .15)!important;
    border: none;
}

.toast {
    opacity: 1 !important;
    box-shadow: 0 4px 12px grey !important;
}

.toast-success {
    background-color: $teal;
}

.toast-error {
    background-color: $red;
}

.toast-info {
    background-color: $info;
}

.toast-warning {
    background-color: $special-orange;
}