@import 'color-variables';

$enable-print-styles: false;

$grid-gutter-width: 25px;
$border-radius: .5rem !default;
$border-radius-lg: .75rem !default;
$border-radius-sm: .25rem !default;
$border-radius-xs: .2rem !default;
$breadcrumb-divider: quote("/"); // You can also use »

//Font-Awesome !