//Bootstrap Defaults
$blue: #084B83;
$indigo: #414288;
$purple: #6200ee;
$pink: #F06C9B;
$red: #E63946;
$orange: #F06449;
$yellow: #fdbb2d;
$green: #5FB49C;
$teal: #009688;
$cyan: #00bcd4;
$black: #011627;
$white:#fff;

/*
*
*
Primary Color Variants 
*
*
*/

$special-pink: #d81b60;
$special-paradise-pink: #E5446D;
$special-ruby: #8B2635;
$special-eggplant: #4C2B36;
$special-sienna: #3D0814;
$special-jet: #353238;
$special-dark: #2A2B2A;
$special-cedar-chest: #BE5A38;
$special-gunmetal: #143642;
$special-blue: #0B3954;
$special-red: #f05454;
$special-orange: #f9813a;
$special-yellow: #f2d974;
$special-ivory: #f8d49d;
$special-green: #4caf50;
$special-lightgreen: #16a596;
$special-brown: #92817a;
$special-coffee: #8D6346;

/*
*
*
Brand Color Definitions 
*
*
*/

$brand-primary: $indigo;
$brand-success: $green;
$brand-info: #0b0c0c;
$brand-warning: $yellow;
$brand-danger: $red;

/*
*
*
Current Primary Color 
*
*
*/

$primary: $indigo;