.kb-board-app {
  .kb-container {
    overflow: scroll;
  }
}
.kb-board-list {
  min-width: 300px;
  max-height: 100%;
  padding: 5px;
  .kb-list-body{
    padding: 15px;
    // border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 5px;
    .card {
      background-color: $gray-300;
    }
  }
  .kb-list-title {
    display: flex;
    flex-direction: row;
    h4:focus{
      outline: 0;
      border-radius: 5px;
      background-color: $secondary;
      color: color-yiq($secondary)
    }
  }

  .kb-item-content{
    font-size: 0.85em;
  }

  @each $color, $value in $theme-colors {
    .theme-#{$color}{
      border-left: 7.5px solid $value;
    }
  }
  .card{
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  .dropzone{
    height: 0.25rem;
  }
  .draggable {
    margin-bottom: 1rem;
    cursor: grab;
  }
  .droppable {
    background-color: $success;
    min-height: 120px;
    margin-bottom: 1rem;
  }
  
}