::selection {
    background-color: $primary;
    color: #fff;
}

//Not supported in IE/Firefox
*::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    width: 6px !important;
    height: 6px !important;
    
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08);
}
::-webkit-scrollbar {
    display: none;
}