//Sidebar & header
.main-wrapper {
  .sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    z-index: 10;
    background-color: #fff;
    transition: width 0.2s;
    .navbar {
      /* border-right: 1px solid darken($primary, 10%); */
      //box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
      position: relative;
      width: 100%;
      line-height: 54px;
      padding: 0px;
      top: 0px;
      .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
      }
      .logo {
        height: 50px;
        padding: 7px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .navigation {
      padding-top: 20px;
      height: 100%;
      overflow: auto;
      & > ul {
        padding-left: 0px;
        padding-right: 10px;
        li {
          list-style: none;
          &:hover {
            & > a {
              background-color: $gray-200;
              transition: background-color 0.2s;
            }
          }
          a {
            display: inline-block;
            transition: background-color 0.2s;
            font-size: 14px;
            color: $gray-700;
            text-decoration: none;
            font-weight: 500;
            border-radius: 0 66px 66px 0;
            line-height: 40px;
            width: 100%;
            span {
              display: inline-block;
              vertical-align: middle;
              margin-left: 12px;
              &.icon {
                margin-left: 27px;
                font-size: 20px;
              }
              &.caret {
                margin-left: 0px;
                transition: transform 0.2s;
                + .icon {
                  margin-left: 0px;
                }
              }
              &.badge {
                float: right;
                margin-top: 14px;
                margin-right: 15px;
                line-height: 1.1;
              }
            }
            &.active {
              background-color: lighten($primary, 58%);
              color: $primary;
              .caret {
                color: #000;
              }
            }
            &[aria-expanded="true"] {
              span.caret {
                transform: rotate(90deg);
              }
            }
          }
          &.seperator {
            margin-top: 18px;
            margin-bottom: 18px;
            height: 1px !important;
            background-color: $gray-400;
            span {
              user-select: none;
              vertical-align: middle;
              font-size: 12px;
              margin-top: -28px;
              display: inline-block;
              margin-left: 20px;
              background-color: white;
              padding-left: 8px;
              padding-right: 8px;
              color: $gray-700;
            }
          }
        }
        //Submenu
        ul {
          padding-left: 0px;
          li {
            a {
              span {
                margin-left: 8px;
                &.badge {
                  margin-top: 9px;
                }
              }
              padding-left: 15px;
              line-height: 30px;
            }
          }
        }
      }
      .bottom-bar {
        position: fixed;
        bottom: 0;
        width: 240px;
      }
    }
  }
  .right-area {
    margin-left: 240px;
    transition: margin 0.2s;
    header {
      position: sticky;
      z-index: 12;
      top: 0;
      background-color: $primary;
      color: #fff;
      height: 54px;
      
      .navbar-nav {
        list-style: none;
        margin: 0;
        flex-direction: row;
        color: #fff;
        li.nav-item {
          display: inline-block;
          height: 54px;
          &:not(.icon) {
            margin: 0 7.5px 0 7.5px;
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          > * {
            height: 54px;
          }
          > .dropdown-menu {
            height: auto;
          }
          &.search-bar {
            @include media-breakpoint-down(md) {
              position: fixed;
              width: calc(100% - 10px);
              z-index: 10000000;
              // background: $primary;
              margin: 0px;
              .input-search-group,
              .input-group-append {
                height: 38px;
              }

              .form-inline, .form-inline .input-group {
                width: 100%;
              }

             
            }

             .big-search {
               width: 100vw;
               position: fixed;
               left: 0;
               height: 54px;
               top: 0;
               text-align: center;
               font-size: 24px;
               border-radius: 0px;
               z-index: 13;
               box-shadow: 0 0.2rem 0.2rem lightgrey;
               transition: all 0.3s ease-in-out 0s;
             }

             #closeSearchBtn{
               z-index: 15;
                   position: fixed;
                   left: 0;
                  top:10px;
             }
          }
          &.icon a,
          &.icon button {
            height: 54px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: transparent;
            border: none;
            color: inherit;
            transition: background-color 0.2s;
            display: inline-flex;
            align-items: center;
            margin:0px;
            cursor: pointer;
            &:focus {
              outline: 0;
            }
            &:active,
            &:hover {
              transition: background-color 0.2s;
              background-color: darken($primary, 5%);
            }
          }
          a.nav-link {
            padding: 0 10px;
            line-height: 54px;
            text-align: center;
            color: inherit;
            .img-profile {
              max-height: 34px;
              margin-top: -2px;
            }
            &:hover {
              transition: background-color 0.2s;
              background-color: darken($primary, 5%);
            }
          }
          &.dropdown {
            .nav-link {
              color: $light;
            }
            &.with-caret {
              .nav-link {
                @include caret;
              }
            }
          }
        }
      }
    }
    .main-content {
      padding: 15px;
      .card {
        margin-top: 15px;
      }
    }
  }
  &.mini {
    .sidebar {
      width: 65px;
      .navigation {
        padding-right: 0;
        border-right: 1px solid $gray-200;
        & > ul {
          padding-right: 0px;
          & > li {
            height: 42px;
            & > a {
              transition: width 0.2s;
              height: 42px;
              span {
                display: none;
                &.icon {
                  margin-left: 20px;
                  margin-right: 20px;
                  display: inline-block;
                }
              }
              &.active {
                border-radius: 0;
                box-shadow: none;
              }
            }
            &.seperator {
              span {
                display: none;
              }
            }
            &:hover {
              & > a.active {
                box-shadow: 0px 0px 0px 1px $primary;
                border-radius: 0 66px 66px 0;
              }
              //Submenu
              ul {
                height: auto;
                transform: scaleY(1);
                transition: transform 0.2s ease-in;
                transition-delay: 0.13s;
                position: absolute;
                width: calc(236px - 65px);
                background: transparent;
                margin-top: 42px;
                margin-left: 64px;
                overflow: auto;
                li {
                  a {
                    border: 1px solid $gray-400;
                    border-top: 0;
                    padding-left: 0;
                    background-color: #fff;
                    span {
                      margin-left: 5px;
                      &.icon {
                        margin-left: 8px;
                      }
                    }
                    &:hover {
                      background-color: $gray-100;
                    }
                    &:active,
                    &.active {
                      color: $primary;
                      background-color: lighten($primary, 53%);
                    }
                  }
                }

                &.reversed{
                  display: flex;
                  flex-direction: column-reverse;
                  margin-top: -65px;
                }
              }
              & > a {
                position: absolute;
                z-index: 2000;
                border-left-width: 0;
                line-height: 40px;
                box-shadow: 0px 0px 0px 1px $gray-400;
                width: 236px;
                overflow: hidden;
                height: 42px;
                vertical-align: middle;
                span {
                  display: inline-block;
                  &.caret {
                    display: none;
                  }
                  &.icon {
                    margin-right: 0;
                  }
                }
              }
            }
          }
          ul {
            display: block;
            height: 0;
            transform: scaleY(0);
            transform-origin: top;
            transition: none;
          }
        }
        .bottom-bar {
          width: 65px;
        }
      }
    }
    .right-area {
      margin-left: 65px;
    }
  }
  &.horizontal {
    .sidebar {
      height: auto;
      .navigation {
        position: fixed;
        padding: 0;
        top: 54px;
        width: 100%;
        height: auto;
        z-index: 10;
        background-color: #fff;
        transition: width 0.2s;
        border-bottom: 1px solid $gray-200;
        & > ul {
          display: block;
          overflow: hidden;
          margin-bottom: 0;
          padding: 0;
          text-align: center;
          font-size: 0; // To remove extra whitespace between li's
          & > li {
            display: inline-block;
            font-size: 14px; // To remove extra whitespace between li's
            a {
              border-right: 1px solid $gray-200;
              display: inline-block;
              padding: 5px;
              padding-top: 8px;
              width: 120px;
              text-align: center;
              border-radius: 2px;
              line-height: 28px;
              span {
                margin: 0;
                padding: 0;
                &.badge {
                  padding: inherit;
                  margin-top: 2px;
                }
              }
              span.caret {
                display: none !important;
                float: right;
                display: block;
              }
              span.icon {
                display: block;
              }
            }
            &.seperator {
              display: none;
            }
            &:last-child {
              & > a {
                border: none;
              }
            }
            &:hover {
              ul {
                height: auto;
                transform: scaleY(1);
                transition: transform 0.2s;
                overflow: auto;
                li {
                  a {
                    border: 1px solid $gray-200;
                    border-top: none;
                    width: 121px;
                    span.icon {
                      display: none;
                    }
                  }
                  &:first-child {
                    a {
                      border-top: 1px solid $gray-200;
                    }
                  }
                }
              }
            }
            ul {
              position: fixed;
              display: block;
              height: 0;
              overflow: hidden;
              background-color: #fff;
              margin-left: -1px;
              transform: scaleY(0);
              transform-origin: top;
              transition: none;
            }
          }
        }
      }
    }
    &.without-icon {
      .sidebar {
        .navigation {
          & > ul {
            & > li {
              & > a {
                padding: 5px;
                line-height: 40px;
                span.icon {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .right-area {
      margin-left: unset;
      header {
        margin-left: 240px;
      }
      .main-content {
        margin-top: 67px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .sidebar {
      transition: margin-left 0.2s;
      margin-left: -240px;
      border-right: 1px solid $gray-400;
      height: 100%;
      .navbar {
        visibility: hidden;
      }
    }
    .right-area {
      margin-left: 0px;
    }
    &.mini {
      .sidebar {
        width: 240px;
      }
      .right-area {
        margin-left: 0px;
      }
    }
    &.sidemenu-open {
      .sidebar {
        margin-left: 0;
        .navigation {
          padding-right: 0;
        }
      }
    }
    &.horizontal {
      .sidebar {
        margin-left: 0;
        transition: none;
        .navigation {
          margin-top: -100%;
          transition: margin-top 0.2s;
        }
      }
      .right-area {
        header {
          margin-left: unset;
        }
        .main-content {
          margin-top: 0;
        }
      }
    }
    &.horizontal.sidemenu-open {
      .sidebar {
        .navigation {
          margin-top: 0;
        }
      }
    }
  }
}

.overlay-mask.open{
  @include media-breakpoint-down(md) {
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}