//Bootstrap Defaults
$enable-print-styles: false;
$blue: #084B83;
$indigo: #414288;
$purple: #6200ee;
$pink: #F06C9B;
$red: #C3423F;
$orange: #ff9800;
$yellow: #fdbb2d;
$green: #5FB49C;
$teal: #009688;
$cyan: #00bcd4;
// Addon Pastel Colors
$pastel-red: #f05454;
$pastel-orange: #f9813a;
$pastel-yellow: #f2d974;
$pastel-ivory: #f8d49d;
$pastel-green: #5aa469;
$pastel-lightgreen: #16a596;
$pastel-brown: #92817a;
$pastel-coffee: #825959;
$brand-primary: $indigo;
$brand-success: $green;
$brand-info: #19b5fe;
$brand-warning: $yellow;
$brand-danger: $red;
$primary: $indigo;
$theme-colors: ( "primary": $indigo);

/* $blue: #0288D1;
$indigo: #3f51b5;
$purple: #6200ee;
$pink: #ff0266;
$red: #b00020;
$orange: #ff9800;
$yellow: #ffde03;
$green: #009688;
$teal: #009688;
$cyan: #00bcd4; */

$grid-gutter-width: 25px;
$border-radius: .5rem !default;
$border-radius-lg: .25rem !default;
$border-radius-sm: .175rem !default;
$border-radius-xs: .15rem !default;
$breadcrumb-divider: quote("»");
//$breadcrumb-divider: quote("»");
//Font-Awesome !
$fa-font-path: '../webfonts';