//Bootstrap Defaults
$enable-rounded: true;
$enable-print-styles: false;
$blue: #0288D1;
$indigo: #3f51b5;
$purple: #6200ee;
$pink: #ff0266;
$red: #b00020;
$orange: #ff9800;
$yellow: #fdbb2d;
$green: #009688;
$teal: #009688;
$cyan: #00bcd4;
$brand-primary: $indigo;
$brand-success: $green;
$brand-info: #19b5fe;
$brand-warning: $yellow;
$brand-danger: $red;
$primary: $indigo;
$theme-colors: ( "primary": $indigo);

/* $blue: #0288D1;
$indigo: #3f51b5;
$purple: #6200ee;
$pink: #ff0266;
$red: #b00020;
$orange: #ff9800;
$yellow: #ffde03;
$green: #009688;
$teal: #009688;
$cyan: #00bcd4; */

$grid-gutter-width: 15px;
$border-radius: .2rem !default;
$border-radius-lg: .25rem !default;
$border-radius-sm: .175rem !default;
$border-radius-xs: .15rem !default;
$breadcrumb-divider: quote("»");
//$breadcrumb-divider: quote("»");
//Font-Awesome !
$fa-font-path: '../webfonts';