/*
*
*
Primary Color Variants 
*
*
*/
/*
*
*
Brand Color Definitions 
*
*
*/
/*
*
*
Current Primary Color 
*
*
*/
.icon-wrapper {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
  width: 110px;
}

.icon-wrapper i {
  font-size: 32px;
  display: block;
}

.icon-wrapper span {
  font-size: 12px;
  display: inline-block;
  max-width: 100%;
}

.icon-wrapper:hover {
  background-color: #efefef;
  border: 1px solid #7374bc;
  border-radius: 0.5rem;
  color: #414288;
}
