.main-wrapper.hidden-sidebar {
    .sidebar {
        transition: margin-left 0.2s;
        margin-left: -$full-sidebar-width;
        border-right: 1px solid $gray-400;
    }
    .right-area {
        margin-left: 0;
    }
    &.sidemenu-open {
        .sidebar {
            margin-left: 0;
        }
        @include media-breakpoint-up(md) {
            header {
                margin-left: $full-sidebar-width - 1;
            }
        }
    }
}
