<header>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item icon">
        <button class="hamburger">
          <span class="material-icons">menu</span>
        </button>
      </li>

      <li class="nav-item d-sm-none d-none d-md-block">
        <a href="" class="nav-link">Important Link</a>
      </li>
      <li class="nav-item d-sm-none d-none d-md-block">
        <a href="" class="nav-link">Quick Link</a>
      </li>
      <li class="nav-item d-none d-md-block" id="search-bar">
        <form class="form-inline" method="POST" onsubmit="return false;">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-navbar text-light d-md-none"
                onclick="$('#search-bar').toggleClass('d-none search-bar')">
                <span class="material-icons">arrow_back</span>
              </button>
            </div>
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-dark btn-navbar text-light" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </li>
      <li class="flex-fill"></li>
      <li class="nav-item icon">
        <a href="" class="nav-link" id="go-fullscreen-link">
          <span class="material-icons">fullscreen</span>
        </a>
      </li>
      <li class="nav-item icon d-block d-md-none">
        <a class="nav-link" id="searchBtn" onclick="$('#search-bar').toggleClass('d-none search-bar'); return false;">
          <span class="material-icons">search</span>
        </a>
      </li>
      <li class="nav-item icon">
        <a href="" class="nav-link">
          <span class="material-icons">notifications</span>
        </a>
      </li>
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown with-caret">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <img src="http://placeimg.com/100/100/people" class="img-profile rounded-circle">
        </a>
        <div class="dropdown-menu p-1 dropdown-menu-right">
          <a class="dropdown-item">
            Welcome John
          </a>
          <div class="dropdown-divider"></div>
          <a href="" class="dropdown-item">
            Logout
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">
            <small>
              Build Version: v1.0.1
            </small>
          </a>
        </div>
      </li>
    </ul>
  </div>
</header>