<div class="settings-panel">
    <div class="settings-btn">
        <i class="material-icons spin">settings</i>
    </div>
    <div class="settings-options p-4">
        <div class="row">
            <div class="col-12">
                <h3 class="py-3">Menu Style</h3>
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="radio" value="default" checked name="menu-switch" class="custom-control-input" id="switch-menu-default">
                    <label class="custom-control-label" for="switch-menu-default">
                        <span>Default</span>
                    </label>
                </div>
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="radio" value="mini" name="menu-switch" class="custom-control-input" id="switch-menu-mini">
                    <label class="custom-control-label" for="switch-menu-mini">
                        <span>Mini</span>
                    </label>
                </div>
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="radio" value="overlay" name="menu-switch" class="custom-control-input" id="switch-menu-overlay">
                    <label class="custom-control-label" for="switch-menu-overlay">
                        <span>Overlay</span>
                    </label>
                </div>
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="radio" value="horizontal" name="menu-switch" class="custom-control-input" id="switch-menu-horizontal">
                    <label class="custom-control-label" for="switch-menu-horizontal">
                        <span>Horizontal</span>
                    </label>
                </div>
                
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="radio" value="horizontal-no-icon" name="menu-switch" class="custom-control-input" id="switch-menu-horizontal-no-icon">
                    <label class="custom-control-label" for="switch-menu-horizontal-no-icon">
                        <span>Horizontal without icon</span>
                    </label>
                </div>
                <h3 class="py-3">Layout</h3>
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="radio" value="box" checked name="layout-switch" class="custom-control-input" id="switch-layout-box">
                    <label class="custom-control-label" for="switch-layout-box">
                        <span>Box</span>
                    </label>
                </div>
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="radio" value="full-width" name="layout-switch" class="custom-control-input" id="switch-layout-full-width">
                    <label class="custom-control-label" for="switch-layout-full-width">
                        <span>Full width</span>
                    </label>
                </div>
                <h3 class="py-3">Theme Color</h3>
                <input type="color">
                <h3 class="py-3">RTL/LTR Mode</h3>
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="radio" value="ltr" checked name="direction-switch" class="custom-control-input" id="switch-direction-ltr">
                    <label class="custom-control-label" for="switch-direction-ltr">
                        <span>LTR</span>
                    </label>
                </div>
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="radio" value="rtl" name="direction-switch" class="custom-control-input" id="switch-direction-rtl">
                    <label class="custom-control-label" for="switch-direction-rtl">
                        <span>RTL</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:js assets/js/vendor.bundle.js -->
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/nanobar/nanobar.min.js"></script>
<script src="../../node_modules/summernote/dist/summernote-bs4.min.js"></script>
<script src="../../node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="../../node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="../../node_modules/toastr/build/toastr.min.js"></script>
<script src="../../node_modules/dropify/dist/js/dropify.min.js"></script>
<script src="../../node_modules/pickerjs/dist/picker.min.js"></script>
<script src="../../node_modules/@jaames/iro/dist/iro.min.js"></script>
<script src="../../node_modules/screenfull/dist/screenfull.js"></script>
<script src="../../node_modules/swiped-events/dist/swiped-events.min.js"></script>
<script src="../../node_modules/long-press-event/dist/long-press-event.min.js"></script>
<script src="../../node_modules/chart.js/dist/Chart.bundle.min.js"></script>
<script src="../../node_modules/apexcharts/dist/apexcharts.min.js"></script>
<script src="../../node_modules/fullcalendar/main.js"></script>

<!-- endbuild -->

<!-- build:js assets/js/main.js -->
<script src="../../assets/js/theme-colors.js"></script>
<script src="../../assets/js/progress-bar.js"></script>
<script src="../../assets/js/bs4-breakpoint-check.js"></script>
<script src="../../assets/js/menu.js"></script>
<script src="../../assets/js/main.js"></script>
<script src="../../assets/js/demo/settings-panel.js"></script>
<!-- endbuild -->