<!-- build:js assets/js/vendor-bundle.js -->
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../node_modules/nanobar/nanobar.js"></script>
<script src="../../node_modules/summernote/dist/summernote-bs4.min.js"></script>
<script src="../../node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="../../node_modules/datatables/media/js/jquery.dataTables.js"></script>
<script src="../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="../../node_modules/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="../../node_modules/dropify/dist/js/dropify.min.js"></script>
<script src="../../node_modules/pickerjs/dist/picker.js"></script>
<script src="../../node_modules/@jaames/iro/dist/iro.js"></script>

<!-- endbuild -->

<!-- build:js assets/js/main.js -->
<script src="../../assets/js/progress-bar.js"></script>
<script src="../../assets/js/bs4-breakpoint-check.js"></script>
<script src="../../assets/js/menu.js"></script>
<script src="../../assets/js/main.js"></script>
<!-- endbuild -->
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()

    });
</script>