<aside class="sidebar">
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand brand-title" href="#">
            <img src="assets/images/a-white.png" alt="" class="logo"> Athanu
        </a>
    </nav>
    <nav class="navigation shadow">
        <ul>
            <li>
                <a href="#collapseDashboardOptions" data-toggle="collapse" class="active">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">dashboard</span>
                    <span class="text">Dashboard</span>
                </a>
                <ul class="collapse" id="collapseDashboardOptions">
                    <li>
                        <a href="index.html">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Dashboard One</span>
                        </a>
                    </li>
                    <li>
                        <a href="index-2.html">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Dashboard Two</span>
                        </a>
                    </li>
                </ul>


            </li>
            <li>
                <a href="#collapseLayoutOptions" data-toggle="collapse">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">tab</span>
                    <span class="text">Layout Options</span>
                </a>
                <ul class="collapse" id="collapseLayoutOptions">
                    <li>
                        <a href="" class="sidebar-layout-btn">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Sidebar</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="boxed-layout-btn">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Boxed Layout</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="seperator">
                <span>Applications & Pages</span>
            </li>
            <li>
                <a href="#collapseSubmenu1" class="" data-toggle="collapse">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">apps</span>
                    <span class="text">Applications</span>
                </a>
                <ul class="collapse" id="collapseSubmenu1">
                    <li>
                        <a href="mail-two.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Mailbox</span>
                            <span class="badge badge-danger">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="calendar.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Calender</span>
                        </a>
                    </li>
                    <li>
                        <a href="kanban.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Calender</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#authenticationPage" class="" data-toggle="collapse">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">verified_user</span>
                    <span class="text">Authentication</span>
                </a>
                <ul class="collapse" id="authenticationPage">
                    <li>
                        <a href="login.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Login</span>
                        </a>
                    </li>
                    <li>
                        <a href="register.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Register</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Re Login</span>
                        </a>
                    </li>
                    <li>
                        <a href="reset.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Forgot Password</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#errorPages" class="" data-toggle="collapse">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">error</span>
                    <span class="text">Error Pages</span>
                </a>
                <ul class="collapse" id="errorPages">
                    <li>
                        <a href="403.html" target="_blank" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">403 Page</span>
                        </a>
                    </li>
                    <li>
                        <a href="404.html" target="_blank" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">404 Page</span>
                        </a>
                    </li>
                    <li>
                        <a href="500.html" target="_blank" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">500 Page</span>
                        </a>
                    </li>
                    <li>
                        <a href="503.html" target="_blank" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">503 Page</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="seperator">
                <span>UI Elements & Widgets</span>
            </li>
            <li>
                <a href="#uiComponents" class="" data-toggle="collapse">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">extension</span>
                    <span class="text">UI Components</span>
                </a>
                <ul class="collapse" id="uiComponents">
                    <li>
                        <a href="accordians.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Accordians</span>
                        </a>
                    </li>
                    <li>
                        <a href="alerts.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Alerts</span>
                        </a>
                    </li>
                    <li>
                        <a href="avatar.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Avatar</span>
                        </a>
                    </li>
                    <li>
                        <a href="basic.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Basic Elements</span>
                        </a>
                    </li>
                    <li>
                        <a href="buttons.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Buttons</span>
                        </a>
                    </li>
                    <li>
                        <a href="cards.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Cards</span>
                        </a>
                    </li>
                    <li>
                        <a href="colors.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Colors</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Context menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="modals.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Modals</span>
                        </a>
                    </li>
                    <li>
                        <a href="notifications.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Notifications</span>
                        </a>
                    </li>
                    <li>
                        <a href="icons.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Icons</span>
                        </a>
                    </li>
                    <li>
                        <a href="tabs.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Tabs</span>
                        </a>
                    </li>
                    <li>
                        <a href="tooltips.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Tooltips</span>
                        </a>
                    </li>
                    <li>
                        <a href="typography.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Typography</span>
                        </a>
                    </li>
                    <li>
                        <a href="flex-grid.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Flexbox Grids</span>
                        </a>
                    </li>
                    <li>
                        <a href="spinners.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Spinners</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#formStuff" class="" data-toggle="collapse">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">assignment</span>
                    <span class="text">Form Stuff</span>
                </a>
                <ul class="collapse" id="formStuff">
                    <li>
                        <a href="forms.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Form Styling</span>
                        </a>
                    </li>
                    <li>
                        <a href="validations.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Validation</span>
                        </a>
                    </li>
                    <li>
                        <a href="pickers.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Pickers</span>
                        </a>
                    </li>
                    <li>
                        <a href="uploaders.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Uploader</span>
                        </a>
                    </li>
                    <li>
                        <a href="wysiwyg.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">WYSIWYG Editors</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#data-grid-menu" class="" data-toggle="collapse">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">grid_on</span>
                    <span class="text">Data Grids</span>
                </a>
                <ul class="collapse" id="data-grid-menu">
                    <li>
                        <a href="tables.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Simple Table</span>
                        </a>
                    </li>
                    <li>
                        <a href="data-tables.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Data Tables</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="timeline.html" class="">
                    <span class="icon material-icons">timeline</span>
                    <span class="text">Timeline</span>
                </a>
            </li>
            <li>
                <a href="#charts-menu" data-toggle="collapse">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">bar_chart</span>
                    <span class="text">Charts</span>
                </a>
                <ul class="collapse" id="charts-menu">
                    <li>
                        <a href="apex-charts.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">ApexCharts</span>
                        </a>
                    </li>
                    <li>
                        <a href="chart-js.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Chart.js</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Google Chart</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#maps-menu" data-toggle="collapse">
                    <span class="caret material-icons">arrow_right</span>
                    <span class="icon material-icons">map</span>
                    <span class="text">Maps</span>
                </a>
                <ul class="collapse" id="maps-menu">
                    <li>
                        <a href="google-maps.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Google Maps</span>
                        </a>
                    </li>
                    <li>
                        <a href="vector-maps.html" class="">
                            <span class="icon material-icons">remove</span>
                            <span class="text">Vector Maps</span>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </nav>
</aside>