@include media-breakpoint-down(md) {
    .fc .fc-toolbar {
        display: flow-root;
    }
    .fc-toolbar-chunk {
        margin: 5px auto;
    }
    .fc .fc-toolbar.fc-header-toolbar {
        margin-bottom: 1em;
    }
}