.inbox-app {
    display: flex;
    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }
    .inbox-toolbars-wrapper {
        margin-right: 1rem;
        border-radius: 4px;
        min-width: 75px;
    }
    .toolbar-body 
    {
        position: sticky;
        top: $header-height + 10;
        .toolbar-title {
            color: $gray-700;
            padding: 0 1rem .5rem 1rem;
        }
        .toolbar-menu {
            padding: 0;
            margin-bottom: 1rem;
            height: auto;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            @include media-breakpoint-down(lg) {
                flex-direction: row;
            }
            li {
                a {
                    align-items: center;
                    padding: .5rem 1rem;
                    transition: 0.4s;
                    position: relative;
                    border-top: 1px solid $gray-200;
                    text-align: center;
                    @include media-breakpoint-down(lg) {
                        border-top: 0;
                    }
                }
                &:hover {
                    color: $primary;
                    font-weight: 700;
                }
            }
        }
    }
}

/* 
.inbox-app .inbox-toolbars-wrapper .toolbar-body .toolbar-menu li svg {
    margin-right: 0.625rem;
    width: 1rem;
    height: 1rem;
    line-height: 1.5;
}
 */
.inbox-app .inbox-toolbars-wrapper .toolbar-body .toolbar-menu li a {
    flex: 1;
    color: #394044;
    // font-size: 14px;
    text-decoration: none;
    transition: all, 0.3s;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    .inbox-app .inbox-toolbars-wrapper .toolbar-body .toolbar-menu li a {
        transition: none;
    }
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .toolbar-menu li.active a {
    color: $primary;
    font-weight: 600;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .toolbar-menu li.active svg {
    color: $primary;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-header {
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-header .contact-left {
    display: flex;
    align-items: center;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-header .contact-left .title {
    margin: 0 1rem 0 0;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-header .dropdown {
    float: right;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-list {
    padding: 0 1rem;
    list-style-type: none;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-list .contact-list-item {
    padding: .625rem 0;
    display: block;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-list .contact-list-item:last-child {
    border-bottom: 0;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a {
    text-decoration: none;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .user {
    width: 100%;
    padding: 5px 10px 0 15px;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .user .user-name {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    color: #394044;
}

.inbox-app .inbox-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .user .user-designation {
    font-size: 12px;
    color: #727686;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    margin-bottom: 0;
}

@media (max-width: 575px) {
    .inbox-app .inbox-toolbars-wrapper,
    .inbox-app .inbox-desc-wrapper {
        // display: none;
    }
    .inbox-app .inbox-list-wrapper {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .inbox-app .inbox-toolbars-wrapper {
        // display: none;
    }
    .inbox-app .inbox-desc-wrapper {
        width: 60%;
    }
}

.mail-wrapper {
    //margin-top:15px;
}

.mail-list-items {
    margin-top: 15px;
    .mail-item {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
        background: white;
        margin: 3px 0px;
    }
    a {
        text-decoration: none;
    }
    div.mail-action {
        width: 220px;
        color: $dark;
        .mail-fav {
            color: $yellow;
            margin: 0 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
        p {
            font-weight: 500;
            overflow: hidden;
            flex-wrap: wrap;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 150px;
            margin-right: 15px;
        }
    }
    span.mail-buttons {
        font-size: 16px;
        display: none;
    }
    .mail-body-preview {
        max-width: 450px;
        p {
            color: $gray-600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    span.mail-time {
        margin-bottom: 0px;
        font-size: 12px;
        color: grey;
        width: 55px;
        text-align: right;
    }
    @include media-breakpoint-down(md) {
        span.mail-time {
            margin-left: auto
        }
    }
    .mail-item~.active {
        background: grey;
    }
    .mail-item.read {
        background-color: $gray-300;
        .mail-action p {
            font-weight: 300;
        }
    }
    .mail-item:hover {
        box-shadow: 0 .5rem .6rem rgba(0, 0, 0, .15) !important;
        background-color: #4052b507;
        span.mail-buttons {
            font-size: 16px;
            display: flex;
        }
    }
}