.main-wrapper.collapsed {
    .right-area {
        margin-left: 0 !important;
    }
}

.right-area {
    @include media-breakpoint-up(lg) {
        margin-left: 240px;
    }
    transition: margin 0.15s;
    header {
        @include var-bg-color('primary');
        position: sticky;
        top: 0;
        z-index: 12;
        color: color-yiq($primary);
        height: $header-height;
        .navbar-nav {
            list-style: none;
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            flex-direction: row;
            color: color-yiq($primary);
            li.nav-item {
                display: inline-block;
                height: $header-height;
                >* {
                    height: $header-height;
                }
                >.dropdown-menu {
                    height: auto;
                }
               
                &.search-bar {
                    .big-search {
                        position: fixed;
                        left: 0;
                        top: -100px;
                        width: 100vw;
                        transition: all 0.3s ease-in-out 0s;
                        z-index: 13;
                        input {
                            width: 100%;
                            height: 54px;
                            text-align: center;
                            font-size: 24px;
                            border-radius: 0px;
                            box-shadow: 0 0.2rem 0.2rem lightgrey;
                        }
                        #closeSearchBtn {
                            position: absolute;
                        }
                    }
                    &.open .big-search {
                        top: 0;
                        .backdrop {
                            display: block;
                        }
                    }
                    .backdrop {
                        display: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        background-color: transparentize($secondary, 0.8);
                        z-index: -1;
                    }
                }
                &.icon>a,
                &.icon button {
                    padding-left: 15px;
                    padding-right: 15px;
                    background-color: transparent;
                    border: none;
                    color: inherit;
                    transition: background-color 0.2s;
                    display: inline-flex;
                    align-items: center;
                    cursor: pointer;
                    font-size: 1.4em;
                    &:focus {
                        outline: 0;
                    }
                    &:active,
                    &:hover {
                        transition: background-color 0.2s;
                        background-color: darken($primary, 5%);
                    }
                }
                a.nav-link {
                    padding: 0 17.5px;
                    line-height: $header-height;
                    text-align: center;
                    color: inherit;
                    .img-profile {
                        max-height: 34px;
                        margin-top: -2px;
                    }
                    &:hover {
                        transition: background-color 0.2s;
                        background-color: darken($primary, 5%);
                    }
                }
                &.dropdown {
                    .nav-link {
                        color: color-yiq($primary);
                    }
                    &.with-caret {
                        .nav-link {
                            @include caret;
                        }
                    }
                }
            }
        }
    }
}